<!-- templates/home.html -->
{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}
  <h1>Guess For Fun</h1>
  <p>Welcome to the friendliest platform of sport prediction, legit and fun.<p>

{% if user.is_authenticated %}
  <p>You are logged in as <strong>{{ user }}</strong>.</p>
  <p><a href="{% url 'prediction:index' %}">Guess hub</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
  <p>Spice up your summer: Euro 2021 is here!</p>
  <a href="{% url 'login' %}" class='btn btn-primary'>Log In</a>
  <a href="{% url 'signup' %}" class='btn btn-primary'>Sign Up</a>
{% endif %}
{% endblock %}
