<!-- templates/home.html -->
{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}


  <div class="jumbotron">
    <h1>Dự đoán tỷ số</h1>
    <p><em>Ứng dụng dự đoán tỷ số bóng đá tiện lợi và hợp pháp dành cho người Việt</em></p>
    <p></p><p></p>
    <p>
      <span class="badge badge-success">1</span> Dự đoán.<br/>
      <span class="badge badge-success">2</span> Tạo nhóm bạn bè hoặc tham gia vào một nhóm có sẵn.<br/>
      <span class="badge badge-success">3</span> Theo dõi số điểm có được trong suốt giải đấu. Cuối giải, phần thưởng sẽ do nhóm tự quyết định.
    </p>
    <p>
      Hiện đang mở cho: <strong>World Cup 2022</strong>!
    </p>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Cách tính điểm</h5>
      <div class="card-text">
        <ul class="no-bullets">
          <li><span class="badge badge-warning">8</span> điểm: Đúng tỷ số.</li>
          <li><span class="badge badge-warning">5</span> điểm: Đúng cách biệt tỷ số hoặc hòa (trận 2-1 bạn đoán 1-0, hoặc trận 1-1 bạn đoán 2-2).</li>
          <li><span class="badge badge-warning">4</span> điểm: Đúng đội thắng và số bàn thắng của một đội (trận 2-1 bạn đoán 3-1).</li>
          <li><span class="badge badge-warning">3</span> điểm: Đúng đội thắng (trận 2-1 bạn đoán 3-0).</li>
        </ul>
        <p></p>
        Số điểm được tính cho mỗi trận là số điểm cao nhất trong các trường hợp trên (không tích lũy).
        <p></p>
        <p><strong>Vòng loại trực tiếp</strong>: Điểm số nhân đôi: 16-10-8-6 thay vì 8-5-4-3 như trên. Chỉ xét tỷ số sau các hiệp chính và phụ. Không tính loạt sút luân lưu.
        <p><strong>Đúng đội vô địch</strong>: 50 điểm
        </div>
      </div>
    </div>
  </div>

<p></p>

{% if user.is_authenticated %}
  <p>Xin chào <strong>{{ user }}</strong>.</p>
  <p><a href="{% url 'football:index' %}" class='btn btn-success'>Dự đoán nào</a></p>
  <p><a href="{% url 'logout' %}" class='btn btn-danger'>Đăng xuất</a></p>

{% else %}
  <a href="{% url 'login' %}" class='btn btn-primary'>Đăng nhập</a>
  <a href="{% url 'signup' %}" class='btn btn-primary'>Đăng ký</a>
  <a href="{% url 'football:index' %}" class='btn btn-success'>Tham quan</a>
{% endif %}
{% endblock %}
