{% extends 'base.html' %}

{% block header %}
  <a href="{% url 'football:index' %}">&lt; Guess hub</a>
{% endblock %}

{% block content %}
  <h2>Clan {{clan}}</h2>

  Access code to invite friends: <strong>{{ clan.access_code }}</strong>
  <p></p>
  <div class="row px-3">
    <div class="col-2"><strong>Rank</strong></div>
    <div class="col-3"><strong>Username</strong></div>
    <div class="col-2 text-right"><strong>Points</strong></div>

  </div>
  {% for username, pts, rank in username_pts_rank %}
  <div {% if user.username == username %}class="row px-3 text-info" style="font-weight:bold;"{% else %}class="row px-3"{% endif %}>
    <div class="col-2">{{ rank }}</div>
    <div class="col-3">{{ username }}</div>
    <div class="col-2 text-right">{{ pts }}</div>
  </div>
  {% endfor %}

  <hr />

  <form action="{% url 'football:index' %}" method="POST">
    {% csrf_token %}
    {% if username_pts_rank|length == 1 %}
      <div class="alert alert-warning">You are the last one, leaving the clan will lead to its suppression.</div>
      <input type=hidden name="delete-clan-id" value="{{ clan.id }}">
    {% endif %}
    <input type=hidden name="leave-clan-id" value="{{ clan.id }}">
    <button class='btn btn-danger' name="submit-leave-clan">Leave clan</button>
  </form>

{% endblock %}
