{% extends 'base.html' %}

{% block header %}
  <a href="{% url 'football:index' %}">&lt; Trung tâm dự đoán</a>
{% endblock %}

{% block content %}
  <h2>Nhóm {{clan}}</h2>

  Mã tham gia nhóm để mời bạn bè: <strong>{{ clan.access_code }}</strong>

  <p></p>
  <div class="row px-3">
    <div class="col-2"><strong>Hạng</strong></div>
    <div class="col"><strong>Tên</strong></div>
    <div class="col-2 text-right"><strong>Điểm</strong></div>

  </div>
  {% for username, pts, rank in username_pts_rank %}
  <div {% if user.username == username %}class="row px-3 text-info" style="font-weight:bold;"{% else %}class="row px-3"{% endif %}>
    <div class="col-2">{{ rank }}</div>
    <div class="col">{{ username }}</div>
    <div class="col-2 text-right">{{ pts }}</div>
  </div>
  {% endfor %}

  <hr />
<!-- TODO: comment cho đến khi có nhiều nhiều dữ liệu
  <h5>Hành trình đua top (KHÔNG TÍNH 50 ĐIỂM ĐOÁN ĐÚNG ĐỘI VÔ ĐỊCH)</h5>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart', 'line']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      var options = {
        legend: { position: 'bottom', textStyle: {fontSize: 10}},
        hAxis: {viewWindow: {}}, // will be overwritten
        vAxis: {viewWindow: {}}
      };

      {{ graph_js | safe }}

      options.hAxis.viewWindow.min = options.hAxis.viewWindow.max - Math.floor(window.innerWidth/100)*2;

      var chart = new google.charts.Line(document.getElementById('chart_div'));
      chart.draw(data, google.charts.Line.convertOptions(options));
    }

    $(window).resize(function(){
      drawChart();
    });
  </script>

  <div id="chart_div" class="chart"></div>
  <hr />
-->
  <form action="{% url 'football:index' %}" method="POST">
    {% csrf_token %}
    {% if username_pts_rank|length == 1 %}
      <div class="alert alert-warning">Nhóm này sẽ bị xóa nếu bạn rời nhóm vì bạn là người duy nhất trong nhóm.</div>
      <input type=hidden name="delete-clan-id" value="{{ clan.id }}">
    {% endif %}
    <input type=hidden name="leave-clan-id" value="{{ clan.id }}">
    <button class='btn btn-danger' name="submit-leave-clan">Rời nhóm</button>
  </form>

{% endblock %}
