{% extends 'base.html' %}

{% block content %}
  <h1>Trung tâm dự đoán</h1>

  {% if not user.is_authenticated %}
  <div class="alert alert-warning">
    Bạn chưa đăng nhập nên chưa được phép thực hiện các tác vụ ở đây.<br />
    <a href="{% url 'login' %}" class='btn btn-primary'>Đăng nhập</a>
  </div>
  {% endif %}

  {% if join_clan_feedback %}
  <div class="alert {{ join_clan_feedback.1 }}">{{ join_clan_feedback.0 }}</div>
  {% endif %}
  {% if create_clan_feedback %}
  <div class="alert {{ create_clan_feedback.1 }}">{{ create_clan_feedback.0 }}</div>
  {% endif %}
  {% if submit_guesses_feedback %}
  <div class="alert {{ submit_guesses_feedback.1 }}">{{ submit_guesses_feedback.0 }}</div>
  {% endif %}

  {% if user.is_authenticated %}
    <h3>Thứ hạng của bạn</h3>
    <p>Bạn có <strong>{{ points }}</strong> điểm.</p>
    {% if uclans %}
      <p>Chọn một trong các nhóm mà bạn tham gia để xem chi tiết thứ hạng.</p>
      <div class="list-group" style="width:300px">
        {% for uc in uclans %}
          <a href="{% url 'football:clan' uc.clan.id %}" class="list-group-item list-group-item-action">{{ uc.clan }}</a>
        {% endfor %}
      </div>
    {% else %}
      <p>Bạn chưa tham gia nhóm nào, nhưng vẫn có thể dự đoán ngay, rồi tạo hoặc tham gia vào nhóm sau.
      </p>
    {% endif %}
    <hr />
  {% endif %}

  <h3>Dự đoán của bạn</h3>
  <form id="prediction-form" method="post">
    {% csrf_token %}
    <div class="card card-body">
      <h5 class="card-title">Đội vô địch</h5>
      <div class="card-text">
        <select name="champion">
          {% if not predicted_champion %}
            <option value="">Chưa dự đoán</option>
          {% endif %}
          {% for t in teams %}
            <option value="{{ t }}" {% if predicted_champion and predicted_champion.name == t.name %}selected{% endif %}>{{ t }}</option>
          {% endfor %}
        </select> (được dự đoán đến 23h ngày 26/6)
      </div>
    </div>
    <p></p>
    <div class="card card-body">
      <h5 class="card-title">Vòng bảng</h5>
      <p>Thời hạn đóng dự đoán cho mỗi trận: phút thứ 15 kể từ khi trận đấu khởi tranh.</p>
      <div class="alert alert-info">Gợi ý: Nhớ xem những phút đầu của trận đấu để dự đoán của bạn chính xác hơn.</div>
      {% for info in infos %}
      <div class="row px-3" style="line-height:30px;">
        {{info.start_time}}
      </div>
      <div class="row px-3" style="line-height:30px;">
      	<div class="col text-right">{{info.team_1}}</div>
        <div class="col-0-5 text-right">
          <input type=number name="{{info.id}}-1" value="{{info.predicted_score_1}}" class="form-control form-control-sm small-input" {% if info.locked %}readonly{% endif %}>
        </div>
        <div class="col-0-5 text-center text-info">
          {{info.real_score_1}}-{{info.real_score_2}}
        </div>
        <div class="col-0-5 text-center">
          <input type=number name="{{info.id}}-2" value="{{info.predicted_score_2}}" class="form-control form-control-sm small-input" {% if info.locked %}readonly{% endif %}>
        </div>
        <div class="col">{{info.team_2}}</div>
      </div>
      {% endfor %}
    </div>
    <input type="submit" name="submit-guesses" value="Lưu dự đoán" class="btn btn-primary">
  </form>

  <hr />

  <h3>Tham gia nhóm</h3>
  <form method="post">
    {% csrf_token %}
    <label for="clan-name-join">Tên nhóm: (chú ý hoa thường) </label><br />
    <input type=text name="clan-name-join"><br />
    <label for="clan-access-code">Mã tham gia: </label><br />
    <input type=text name="clan-access-code"><br />
    <input type="submit" name="submit-join-clan" value="Tham gia" class="btn btn-secondary">
  </form>

  <hr />

  <h3>Tạo nhóm</h3>
  <form method="post">
    {% csrf_token %}
    <label for="clan-name-create" width="300px">Tên nhóm: </label><br />
    <input type=text name="clan-name-create"><br />
    <input type="submit" name="submit-create-clan" value="Tạo" class="btn btn-secondary">
  </form>
{% endblock %}
