<div class="row px-1" style="line-height:30px;">
  <div class="col-12 col-lg-2">Wed 07/07 02:00</div>
  <div class="col-4 col-lg-2 text-right team1">Switzld. or<br/>Spain</div>
  <div class="col-0-5 text-right"></div>
  <div class="col-0-5 text-center">?-?</div>
  <div class="col-0-5 text-center"></div>
  <div class="col team2">Belgium or<br/>Italy</div>
</div>
<div class="row px-1" style="line-height:30px;">
  <div class="col-12 col-lg-2">Thu 07/08 02:00</div>
  <div class="col-4 col-lg-2 text-right team1">Czechia or<br/>Denmark</div>
  <div class="col-0-5 text-right"></div>
  <div class="col-0-5 text-center">?-?</div>
  <div class="col-0-5 text-center"></div>
  <div class="col team2">Ukraine or<br/>England</div>
</div>
