<div class="row px-1" style="line-height:30px;">
  <div class="col-12 col-lg-2">{{info.start_time}}</div>
  <div class="col-4 col-lg-2 text-right team1">{{info.team_1}}</div>
  <div class="col-0-5 text-right">
    <input type=number name="{{info.id}}-1" value="{{info.predicted_score_1}}" class="form-control form-control-sm small-input" {% if info.locked %}readonly{% endif %}>
  </div>
  <div class="col-0-5 text-center {{ info.real_score_style.whole }}">
    <span class="{{ info.real_score_style.s1 }}">{{info.real_score_1}}</span><span class="{{ info.real_score_style.diff }}">-</span><span class="{{ info.real_score_style.s2 }}">{{info.real_score_2}}</span>
  </div>
  <div class="col-0-5 text-center">
    <input type=number name="{{info.id}}-2" value="{{info.predicted_score_2}}" class="form-control form-control-sm small-input" {% if info.locked %}readonly{% endif %}>
  </div>
  <div class="col team2">{{info.team_2}}</div>
</div>
