<div class="row px-1" style="line-height:30px;">
  <div class="col-12 col-lg-2">Mon 07/12 02:00</div>
  <div class="col-4 col-lg-2 text-right team1">France or<br/>Switzld. or<br/>Croatia or<br/>Spain or<br/>Belgium or<br/>Portugal or<br/>Italy or<br/>Austria</div>
  <div class="col-0-5 text-right"></div>
  <div class="col-0-5 text-center">?-?</div>
  <div class="col-0-5 text-center"></div>
  <div class="col team2">Holland or<br/>Czechia or<br/>Wales or<br/>Denmark or<br/>Sweden or<br/>Ukraine or<br/>England or<br/>Germany</div>
</div>
