<div class="row px-1" style="line-height:30px;">
  <div class="col-12 col-lg-2">Fri 07/02 23:00</div>
  <div class="col-4 col-lg-2 text-right team1">France or<br/>Switzld.</div>
  <div class="col-0-5 text-right"></div>
  <div class="col-0-5 text-center">?-?</div>
  <div class="col-0-5 text-center"></div>
  <div class="col team2">Croatia or<br/>Spain</div>
</div>
<div class="row px-1" style="line-height:30px;">
  <div class="col-12 col-lg-2">Sat 07/03 02:00</div>
  <div class="col-4 col-lg-2 text-right team1">Belgium or<br/>Portugal</div>
  <div class="col-0-5 text-right"></div>
  <div class="col-0-5 text-center">?-?</div>
  <div class="col-0-5 text-center"></div>
  <div class="col team2">Italy or<br/>Austria</div>
</div>
<div class="row px-1" style="line-height:30px;">
  <div class="col-12 col-lg-2">Sat 07/03 23:00</div>
  <div class="col-4 col-lg-2 text-right team1">Holland or<br/>Czechia</div>
  <div class="col-0-5 text-right"></div>
  <div class="col-0-5 text-center">?-?</div>
  <div class="col-0-5 text-center"></div>
  <div class="col team2">Wales or<br/>Denmark</div>
</div>
<div class="row px-1" style="line-height:30px;">
  <div class="col-12 col-lg-2">Sun 07/04 02:00</div>
  <div class="col-4 col-lg-2 text-right team1">Sweden or<br/>Ukraine</div>
  <div class="col-0-5 text-right"></div>
  <div class="col-0-5 text-center">?-?</div>
  <div class="col-0-5 text-center"></div>
  <div class="col team2">England or<br/>Germany</div>
</div>
